In [3]:
import datetime
import time
from operator import itemgetter

def date_to_str(date_obj):
    
    if isinstance(date_obj,datetime.datetime):
        date_obj = date_obj.strftime('%d/%m/%Y')
    return date_obj

def to_date(string):
    
    date = datetime.datetime.strptime(string, '%d/%m/%Y')
    
    return date

In [53]:
#MÃ©todo sort
TAB=[['64', 'Tilenio Virino Talento Casas', '25/10/2014'],
 ['28', 'Jose Virino Talento Casas', '25/10/2014'],
 ['20', 'Osmund Olambro Talento Casas', '15/12/2004'],
 ['69', 'Catulo Romulo Soterno Lorentao', '08/10/2010'],
 ['24', 'Catulo Romulo Soterno Lorentao', '08/11/2010'],
 ['65', 'Senizio Olambro Soterno Lasmia', '06/11/2016'],
 ['35', 'Catulo Cartuxo Moncoes Melkioz', '16/05/2010']]

In [54]:
def ClassificaSort(sl,ordem):
    
    if ordem[0] == 3:

        sl = sorted(TAB, key=lambda x: to_date(x[ordem[0]-1]))
    else:
        chave = ordem[0]
    
        sl = sorted(TAB, key=lambda x: x[chave -1])

    for i in range(len(sl)-1):
        #print(i)
        if ordem[0] == 1: #ordena por id

            if ordem[1] == 2: 

                #ids iguais e nomes diferentes
                if (sl[i][0] == sl[i+1][0] and sl[i][1].lower() > sl[i+1][1].lower()):

                    sl[i],sl[i+1] = sl[i+1], sl[i] 

            elif ordem[1] == 3: 

                #ids iguais e datas diferentes
                if (sl[i][0] == sl[i+1][0] and to_date(sl[i][2]) > to_date(sl[i+1][2])):

                    sl[i],sl[i+1] = sl[i+1], sl[i]

        if ordem[0] == 2: #ordena por nome

            if ordem[1] == 1:

                #nomes iguais e ids diferentes
                if (sl[i][1].lower() == sl[i+1][1].lower() and sl[i][0] > sl[i+1][0]):

                    sl[i],sl[i+1] = sl[i+1], sl[i]

            if ordem[1] == 3:

                #nomes iguais e datas diferentes
                if (sl[i][1].lower() == sl[i+1][1].lower() and to_date(sl[i][2]) > to_date(sl[i+1][2])):

                    sl[i],sl[i+1] = sl[i+1], sl[i]



        if ordem[0] == 3: #ordena por data
            #return ordem_data(sl,i,ordem)

            #print('ordem por data')

            if ordem[1] == 1:

                #print('ordem por id')
                #print(i)
                #datas iguais e ids diferentes
                if (sl[i][2] == sl[i+1][2] and sl[i][0] > sl[i+1][0]):

                    #print('siiiim')
                    sl[i],sl[i+1] = sl[i+1], sl[i]



            if ordem[1] == 2:

                #datas iguais e nomes diferentes
                if (sl[i][2] == sl[i+1][2] and sl[i][1].lower() > sl[i+1][1].lower()):

                    sl[i],sl[i+1] = sl[i+1], sl[i]
        
    return sl

In [56]:
ordem = [3,2,1]
ClassificaSort(TAB,ordem)

[['20', 'Osmund Olambro Talento Casas', '15/12/2004'],
 ['35', 'Catulo Cartuxo Moncoes Melkioz', '16/05/2010'],
 ['69', 'Catulo Romulo Soterno Lorentao', '08/10/2010'],
 ['24', 'Catulo Romulo Soterno Lorentao', '08/11/2010'],
 ['28', 'Jose Virino Talento Casas', '25/10/2014'],
 ['64', 'Tilenio Virino Talento Casas', '25/10/2014'],
 ['65', 'Senizio Olambro Soterno Lasmia', '06/11/2016']]

In [37]:
def ordem_data(sl,i,ordem):
    
    #if ordem[0] == 3: #ordena por data
            #print('ordem por data')

    if ordem[1] == 1:

        #print('ordem por id')

        #datas iguais e ids diferentes
        if (sl[i][2] == sl[i+1][2] and sl[i][0] > sl[i+1][0]):

            print('siiiim')
            sl[i],sl[i+1] = sl[i+1], sl[i]



    if ordem[1] == 2:

        #datas iguais e nomes diferentes
        if (sl[i][2] == sl[i+1][2] and sl[i][1].lower() > sl[i+1][1].lower()):

            sl[i],sl[i+1] = sl[i+1], sl[i]
        
    return sl